:root{
    --side-margin: 10vw;
    /* font-size: 1.5vw; */

}
.home{
    text-align: left;
    margin-left: calc(var(--side-margin) / 2) ;
}

.home Button{
    background-color: var(--text-400);
    color: white;

    border: None;
    border-radius: 5px;

    font-size: 1.1em;
}

.home_main_title{
    color: blue;
    margin-top: 0px;

    margin-left: calc(var(--side-margin) / 2) ;
/*    margin-right: calc(var(--side-margin) / 2) ;*/
}

.home_section_title{
    font-family: 'Tangerine', sans-serif;
    color: var(--secondary-400);

    margin-left:  var(--side-margin);
    margin-bottom: 0px;
/*    margin-right: var(--side-margin);*/
}

.home_section_text{
    /* font-size: 1.5vw; */
    text-align: left;
    display:inline-block;
    margin-left:  var(--side-margin);
/*    margin-right: var(--side-margin);*/
}
.home_section_text code {
    border: 1px solid var(--background-300);
    color: var(--text-800);   
    padding: 2px 4px;
    border-radius: 4px;
}
